.pane {
  box-sizing: border-box;
  margin: 0px;
  padding: 3em;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pane h2 {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-size: 48px;
  line-height: 1.3em;
  hyphens: auto;
}
.pane p {
  font-size: 18px;
}

#splash {
  /* background-image: url("/images/landing-image.jpg"); */
  /* background-attachment: fixed; */
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}
#splash-video {
  position: fixed;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -10;
}
#splash-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 200px;
  max-height: 60vh;
}
#splash-logo-inline {
  width: 1200px;
  height: 1000px;
  max-width: 100%;
  max-height: 100%;
}
@keyframes fadein-downward {
  0% { opacity: 0; transform: translateY(-200px); }
  30% { opacity: 0; transform: translateY(-200px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fadein-upward {
  0% { opacity: 0; transform: translateY(200px); }
  30% { opacity: 0; transform: translateY(200px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fadein-rightward {
  0% { opacity: 0; transform: translateX(-200px); }
  30% { opacity: 0; transform: translateX(-200px); }
  100% { opacity: 1; transform: translateX(0px); }
}
@keyframes fadein-leftward {
  0% { opacity: 0; transform: translateX(200px); }
  30% { opacity: 0; transform: translateX(200px); }
  100% { opacity: 1; transform: translateX(0px); }
}
#splash-logo-inline .top-circle {
  animation: fadein-downward 1s ease-out 0s;
}
#splash-logo-inline .bottom-circle {
  animation: fadein-upward 1s ease-out 0s;
}
#splash-logo-inline .left-circle {
  animation: fadein-rightward 1s ease-out 0s;
}
#splash-logo-inline .right-circle {
  animation: fadein-leftward 1s ease-out 0s;
}
#splash-logo-name {
  position: absolute;
  width: 100%;
  margin: 0;
  font-family: "Universal Serif", serif;
  font-size: 12vw;
  letter-spacing: 0.2em;
  line-height: 1em;
  /* white-space: nowrap; */
}
@media (max-width: 1420px) {
  #splash-logo-name {
    font-size: 12vw;
  }
}
#summary-text {
  position: relative;
  margin: auto;
  bottom: -60vh;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.7em;
  animation: fadein-upward 2.4s ease 0s;
}
@media (max-width: 900px) {
  #summary-text {
    font-size: 24px;
  }
}

#about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#about > img {
  padding: 0px;
  box-shadow: 5px 5px 10px rgba(0,0,40,0.4);
  width: 800px;
}
#about-text {
  box-sizing: border-box;
  max-width: 600px;
  height: 100%;
}
#about-text h2 {
  text-align: center;
}
#about-text p {
  padding: 1em 0px;
  text-align: justify;
  font-weight: 400;
}
@media (max-width: 600px) {
  #about-text p {
    text-align: left;
  }
}
#experience {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(to left top, #051937, #0e4366, #1c7293, #38a4bc, #64d9df); */
  background-image: url("/images/lightbulb.jpg");
  background-attachment: fixed;
}
#experience-text {
  display: flex;
  padding: 2em 0px;
  width: 100%;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#experience-text p {
  margin: 2em;
  padding: 1em;
  max-width: 600px;
  text-align: justify;
  font-size: 20px;
}
#experience ul {
  /* margin: 1em; */
  padding: 0px 0.3em;
  overflow: hidden;
  list-style-type: none;
  font-size: 32px;
  line-height: 1.2em;
  text-align: right;
  border-right: solid 2px var(--lite-blue);
}
#experience ul li {
  padding: 0.5em 0px;
}
#experience:hover ul {
  /* width: 30.6em; */
}
#experience li {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
}
#experience a {
  padding: 1em 2em;
  font-size: 24px;
  color: var(--white);
  border: 2px solid var(--lite-blue);
  border-radius: 12px;
  transition: all 0.3s;
}
#experience a:hover {
  color: var(--white);
  background-color: var(--lite-blue);
}
@media (max-width: 900px) {
  #experience-text p {
    margin: 0px;
    padding: 0px;
    text-align: left;
  }
  #experience-text ul {
    border-right: 0px;
    border-left: solid 2px var(--lite-blue);
    text-align: left;
    font-size: 24px;
    width: 90%;
  }
}

#contact {
  display: flex;
  align-items: center;
  background-image: url("/images/cellphone-desk.jpg");
  background-attachment: fixed;
}
#contact-text {
  display: flex;
  padding: 64px;
  margin-left: 10%;
  max-width: 600px;
  /* transform: translate(-50%, -50%); */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fefefacc;
  border-radius: 1em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#contact-text h2 {
  margin: 0px;
  align-self: flex-start;
  color: var(--black);
}
#contact-text p {
  margin: 2em 0px;
  font-weight: 400;
}
@media (max-width: 900px) {
  #contact-text {
    margin: 0px;
    padding: 24px;
  }
}
#contact-text > a {
  margin-top: 1em;
  padding: 1em 2em;
  align-self: flex-end;
  font-size: 24px;
  color: var(--med-blue);
  border: 2px solid var(--med-blue);
  border-radius: 12px;
  transition: all 0.3s;
  text-align: center;
}
#contact-text a:hover {
  color: var(--white);
  background-color: var(--med-blue);
}

#main-div {
  margin: auto;
  width: 100%;
}

.unshown {
  opacity: 0%;
  transform: translateY(100px);
  transition: 1s;
}
.shown {
  opacity: 100%;
  transform: translateY(0px);
  transition: 0.5s;
}
