section {
  margin: auto;
  padding-top: 48px;
  width: 80%;
}

#splash-div {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden
}
#splash-video {
  position: fixed;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -10;
}
#splash-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 200px;
  max-height: 80vh;
}
#splash-logo-inline {
  width: 1200px;
  height: 1000px;
}
@keyframes fadein-downward {
  0% { opacity: 0; transform: translateY(-200px); }
  30% { opacity: 0; transform: translateY(-200px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fadein-upward {
  0% { opacity: 0; transform: translateY(200px); }
  30% { opacity: 0; transform: translateY(200px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fadein-rightward {
  0% { opacity: 0; transform: translateX(-200px); }
  30% { opacity: 0; transform: translateX(-200px); }
  100% { opacity: 1; transform: translateX(0px); }
}
@keyframes fadein-leftward {
  0% { opacity: 0; transform: translateX(200px); }
  30% { opacity: 0; transform: translateX(200px); }
  100% { opacity: 1; transform: translateX(0px); }
}
#splash-logo-inline .top-circle {
  animation: fadein-downward 1s ease-out 0s;
}
#splash-logo-inline .bottom-circle {
  animation: fadein-upward 1s ease-out 0s;
}
#splash-logo-inline .left-circle {
  animation: fadein-rightward 1s ease-out 0s;
}
#splash-logo-inline .right-circle {
  animation: fadein-leftward 1s ease-out 0s;
}
#splash-logo-name {
  position: absolute;
  margin: 0;
  font-family: "Copperplate", sans-serif;
  font-weight: bold;
  font-size: 48px;
}

#main-div {
  margin: auto;
  width: 100%;
}
/*
#main-div h2 {
  width: 50%;
  text-align: left;
  border-bottom: solid 2px cyan;
}
*/
#insights {

}

#usecases-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#usecases-list > div {
  flex-basis: 0px;
  flex-grow: 1;
}
input[type="radio"] {
  display: none;
}
#toggle-labels {
  display: flex;
}
.toggle-label {
  flex-basis: 0px;
  flex-grow: 1;
}
.toggle-label:hover {
  cursor: pointer;
  background-color: var(--med-blue);
  color: var(--white);
}
#toggle-covid:checked ~ #toggle-labels > .covid,
#toggle-xview:checked ~ #toggle-labels > .xview,
#toggle-diabetes:checked ~ #toggle-labels > .diabetes,
#toggle-stockmarket:checked ~ #toggle-labels > .stockmarket {
  background-color: var(--dark-blue);
  color: var(--white);
  font-weight: 700;
}
#toggle-contents {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 800px;
}
.toggle-content {
  width: 0px;
  height: 0px;
  overflow: hidden;
  background-color: var(--dark-blue);
  color: var(--white);
  transition: width 0.3s ease;
}
#toggle-covid:checked ~ #toggle-contents > .covid,
#toggle-xview:checked ~ #toggle-contents > .xview,
#toggle-diabetes:checked ~ #toggle-contents > .diabetes,
#toggle-stockmarket:checked ~ #toggle-contents > .stockmarket {
  width: 100%;
  height: auto;
}
