@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Open+Sans+Condensed:wght@300&display=swap');

@font-face {
  font-family: "Copperplate";
  src: url("/fonts/Copperplate.otf") format("opentype");
}
@font-face {
  font-family: "Universal Serif";
  src: url("/fonts/Universal Serif.ttf") format("truetype");
}
@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

:root {
  --black: #100c08;
  --white: #fefefa;
  --dark-blue: #065a82;
  --med-blue: #1c7293;
  --lite-blue: #34d9df;
}
.black-text {
  color: var(--black);
}
.black-bg {
  background-color: var(--black);
}
.white-text {
  color: var(--white);
}
.white-bg {
  background-color: var(--white);
}
.dark-blue-text {
  color: var(--dark-blue);
}
.dark-blue-bg {
  background-color: var(--dark-blue);
}
.med-blue-text {
  color: var(--med-blue);
}
.med-blue-bg {
  background-color: var(--med-blue);
}
.lite-blue-text {
  color: var(--lite-blue);
}
.lite-blue-bg {
  background-color: var(--lite-blue);
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--black);
  font-family: "Work Sans", sans-serif;
  line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
}
p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: var(--lite-blue);
}
img {
  max-width: 100%;
}
iframe {
  border: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content-div {
  width: 100%;
}
